@model List<Services.EntityFramework.DbEntities.VendorItem>

<div>
    
    @foreach(var item in Model)
        {
            <div>@item.ItemName</div>
            <img src="@item.ItemImageUrl" width="200px" />
        }

</div>