<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ABC Portal</title>
    <link rel="stylesheet" href="~/lib/tingle/tingle.min.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-grid.min.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-utilities.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" /><link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" type="text/css" /><link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="~/css/readability.css" type="text/css" />

    @if (IsSectionDefined("PageCSS"))
    {
        @await RenderSectionAsync("PageCSS", required: false)
    }
</head>
<body>
<div class="d-flex">
    <div id="audioAssistButton" class="btn btn-secondary my-3 ms-3 align-middle">
        <span class="material-icons align-middle">
            volume_off
        </span>
    </div>
    <div id="player-and-voices" class="mt-3 ms-3"></div>
</div>
<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<div class="readability_container">
    <div id="rb_openBtn" onclick="toggleRB()">
        <span class="material-icons align-middle" style="font-size:25px;">
            accessibility
        </span>
    </div>
    <div id="rb_content">
        <div id="rb_close" onclick="toggleRB()"> 
            <span class="material-icons align-middle">
                close
            </span>
        </div>
        <p style="font-size:20px; font-weight:700; padding:0; margin:0;">
            <span class="material-icons align-middle">
                accessibility
            </span>
            Accessibility
        </p>
        <p class="rowHeader">Font Size</p>
        <div class="rb_contentRow">
            <div class="rb_fon rb_contentItem rb_selected" id="fnt_small" title="Small">
                <span class="material-icons align-middle" style="font-size:20px;">
                    format_size
                </span>
            </div>
            <div class="rb_fon rb_contentItem" id="fnt_medium" title="Medium">
                <span class="material-icons align-middle" style="font-size:30px;">
                    format_size
                </span>
            </div>
            <div class="rb_fon rb_contentItem" id="fnt_large" title="Large">
                <span class="material-icons align-middle" style="font-size:40px;">
                    format_size
                </span>
            </div>
        </div>
        <p class="rowHeader">Colour Palette</p>
        <div class="rb_contentRow">
            <div id="col_default" class="rb_col rb_contentItem rb_selected" title="Default" style="background-image:url('img/cm_normal.svg'); height:60px"></div>
            <div id="col_highcontr" class="rb_col rb_contentItem" title="High Contrast" style="background-image:url('img/cm_highcontrast.svg');"></div>
            <div id="col_greyscale" class="rb_col rb_contentItem" title="GreyScale" style="background-image:url('img/cm_greyscale.svg');"></div>
        </div>
    </div>
</div>

<script src="~/lib/tingle/tingle.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/talkify/talkify.min.js"></script>
<script src="~/lib/talkify/audioReader.js"></script>
<script src="~/js/readability.js"></script>

@await RenderSectionAsync("PageJS", required: false)
@if (IsSectionDefined("Scripts"))
{
    @await RenderSectionAsync("Scripts", required: false)
}
</body>
</html>
