@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="img/ABCEnergyLogo.PNG"/>
    <div class="d-flex flex-column flex-sm-row align-items-center">
        <!-- Breadcrumb, User name, Home button and Logout button -->
        <ol class="breadcrumb me-auto">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
        <div class="me-3">User name</div>
        <a class="btn btn-link">Home</a>
        <a class="btn btn-link">Logout</a>
    </div>
    <div class="p-3">
        <div class="row">
            <div class="col-lg">
                Inventory
            </div>
            <div class="col-lg">
                Report
            </div>
            <div class="col-lg">
                Supplier
            </div>
            <div class="col-lg">
                Vendor
            </div>
            <div class="col-lg">
                Company Resources
            </div>
        </div>
    </div>
</div>