@section PageCSS {
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
}

<div class="login-wrapper">
    <div class="login-box pt-3">
        <img class="shadow-lg rounded" src="~/img/ABCEnergyLogo.PNG"/>
        <div class="login-tabs mb-3">
            <div data-btn-for="internal" data-voice="Internal Login" class="tab active clickable">Internal</div>
            <div data-btn-for="external" data-voice="External Login" class="tab clickable">External</div>
        </div>
        <div data-tab-for="internal" class="internal p-3">
            <h4 data-voice>ABC Employee Login</h4>
            <hr />
            <input data-voice="Email Address" placeholder="Email Address..." type="email" name="email" class="w-100" />
            <input placeholder="Email Address..." type="email" name="email" class="w-100" />
            <input placeholder="Password" type="password" name="password" class="w-100 mt-2" />
            <div class="py-2">
                <div class="btn-primary" data-login-btn="internal" data-voice>Login</div>
            </div>
        </div>
        <div data-tab-for="external" class="external d-none p-3">
            <h4 data-voice>ABC Affiliate Login</h4>
            <hr />
            <input data-voice="Email Address" placeholder="Email Address..." type="text" name="email" class="w-100" />
            <input placeholder="Email Address..." type="text" name="email" class="w-100" />
            <input placeholder="Password" type="password" name="password" class="w-100 mt-2" />
            <div class="py-2">
                <div class="btn-primary" data-login-btn="external" data-voice>Login</div>
            </div>
        </div>
    </div>
</div>

@section PageJS {
    <script src="~/js/login.js" asp-append-version="true"></script>
    <script>
        LoginPage({
            internalAuth: '@Url.Action("AuthenticateInternalUser", "Authentication")',
            externalAuth: '@Url.Action("AuthenticateExternalUser", "Authentication")',
        });
    </script>
}