body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: #97ADD9;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn-primary:hover {
    background-color: rgba(151, 173, 271, 0.75);
    cursor: pointer;
}

.btn-link {
    font-weight: 400;
    color: #1a1a1a;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}